body{
    background-image: url(/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
  } 
 
.visual-effect:hover {
    animation: rotate 2s linear infinite;
}
.visual-effect {
    width: 100px;
    height: 100px;
    margin: 20px auto 0;
    border: 5px solid #f7f1ee;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    box-shadow: 5px 5px 5px rgba(236, 11, 236, 0.963);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-image: url(/muc.jpeg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .visual-effect::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;



}
.round-audio-container audio {

  position: absolute; 

   top: 50%;  

   left: 50%;  

  transform: translate(-50%, -50%); /* Centers the audio player within the circle */

   width: 100%;  

  /* height: 100%;  */

}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}







  .navbar{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%; 
       box-sizing: border-box;
       border-radius: 8px;
        margin-bottom: 20px; 
       animation: fadeIn 2s ease-in;
       /* margin-top: 20px; */
       /* margin-bottom: 20px; */
       /* margin-left: 20px; */
       /* margin-right: 20px; */
        padding: 20px; 
       border: 2px solid #ccc;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       background-color: #0b7ef1;
       /* color: #333; */
       font-family: Arial, sans-serif;
       font-size: 16px;
       text-align: center;
       transition: background-color 0.3s ease;
  }
  
  
  .navbar a:hover{
      color: #33e80e;
      background-color: #007bff;
      /* color: white; */
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      cursor: pointer
    }
  .navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
  }
 

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
 .next{
    border-radius: 7px;
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
  }
  .next:hover{
    background-color: #eb0b0b;
    color: rgb(243, 234, 234);
  }
